/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Do Not Touch */
html,body{
      overflow-x: hidden;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.carousel-item{
    height: 250px;
    align-self: center;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: auto;
    
    min-height: 250px;
}
.carousel-caption{
    color: #000;
    align-self: center;
}

#call{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#whatsapp{
    margin-top: 5%;
    margin-bottom: 5%;
}

html{
    scroll-behavior: smooth;
      overflow-x: hidden;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer{
    background-color: #D1c4E9;
    margin: 0px auto;
    padding: 20px 0 20px 0;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}


.navbar-dark{
    background-color: #512DA8;
}



